target
.idea
Dockerfile
.dockerignore
README.md

integrations/java/.gradle
integrations/java/build
integrations/java/.settings
integrations/java/gradle
integrations/java/.project

integrations/js/node_modules
integrations/js/dist

integrations/php/vendor

integrations/rust/target
node_modules